[credential]
	helper = osxkeychain

[user]
  name = Tom Wiltzius
  email = tom.wiltzius@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[push]
  default = current

[diff]
  renameLimit = 5000
